{% extends "base.html" %}

{% block title %}Compare Lists{% endblock %}

{% block content %}
    <h1>Compare Game Lists</h1>
    <div class="container">
        <div class="left-panel">
            <div id="list-files">
            </div>
            <button id="compare-button" style="display: none;">Compare</button>
        </div>
        <div class="right-panel">
			<div id="selected-games-list"></div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const gamesListContainer = document.getElementById('selected-games-list');
            const ListFilesContainer = document.getElementById('list-files');
            const compareButton = document.getElementById('compare-button');
            let selectedLists = [];
    
            function displayFiles() {
                fetch('/api/selected-lists')
                    .then(response => response.json())
                    .then(data => {
                        console.log('Data received:', data); // Debugging
                        const files = data;
                        ListFilesContainer.innerHTML = '';
                        for (const file of files) {
                            const fileDiv = document.createElement('div');
                            fileDiv.classList.add('list');
                            fileDiv.innerText = `List: ${file}`;
                            fileDiv.addEventListener('click', () => toggleSelection(fileDiv, file));
                            ListFilesContainer.appendChild(fileDiv);
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching files:', error);
                    });
            }
            displayFiles();

            function toggleSelection(element, listName) {
                if (element.classList.contains('selected')) {
                    element.classList.remove('selected');
                    selectedLists = selectedLists.filter(item => item !== listName);
                } else {
                    element.classList.add('selected');
                    selectedLists.push(listName);
                }
                updateSelectedLists();
            }

            function updateSelectedLists() {
                // Show or hide the compare button based on the number of selected lists
                if (selectedLists.length >= 2) {
                    compareButton.style.display = 'block';
                } else {
                    compareButton.style.display = 'none';
                }
            }

            async function compareLists() {
                gamesListContainer.innerHTML = '';
                const lists = selectedLists.join(',');
                try {
                    const response = await fetch(`/api/compare-selection?lists=${lists}`);
                    const data = await response.json();
                    console.log('Comparison result:', data); // Debugging
                    for (const element of data) {
                        const gameDiv = document.createElement('div');
                        gameDiv.classList.add('selected-game');
                        const name = await gameName(element); // Await the gameName function
                        console.log('name:', name); // Debugging
                        gameDiv.innerText = name;
                        gamesListContainer.appendChild(gameDiv);
                    }
                } catch (error) {
                    console.error('Error comparing lists:', error); // Debugging
                }
            }
            compareButton.addEventListener('click', compareLists);

            async function gameName(gameId) {
                try {
                    const response = await fetch(`/api/game_details/${gameId}`);
                    const data = await response.json();
                    console.log('Game name:', data); // Debugging
                    return data.name;
                } catch (error) {
                    console.error('Error fetching game name:', error); // Debugging
                    return 'Unknown Game';
                }
            }
        });
    </script>
{% endblock %}

