{% extends "base.html" %}

{% block title %}Compare Lists{% endblock %}

{% block content %}
    <h1>Compare Game Lists</h1>
    <div class="container">
        <div class="left-panel">
            <div id="list-files">
            </div>
            <button id="compare-button" style="display: none;">Compare</button>
        </div>
        <div class="right-panel">
			<div id="games-list"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/comparing_app.js') }}"></script>
{% endblock %}

